* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5a5279;
}

.container {
    position: relative;
    top: 50px;

}

.cup {
    position: relative;
    width: 280px;
    height: 300px;

    background: linear-gradient(to right, #F0F8FFFF, #787196);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.top {
    position: absolute;
    height: 60px;

    top: -30px;
    left: 0;
    width: 100%;

    background: linear-gradient(to right, #F0F8FFFF, #787196);
    border-radius: 50%;
    /* background: #eeeeee;*/
}

.circle {
    position: absolute;
    height: 50px;

    top: 5px;
    left: 10px;
    width: calc(100% - 20px);

    background: linear-gradient(to left, #F0F8FFFF, #787196);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.coffee {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 20px;
    left: 0;
    background: linear-gradient(#ab6580, #832b48);
    border-radius: 50%;
}

.handle {
    position: absolute;
    right: -75px;
    top: 30px;
    height: 180px;
    width: 160px;

    border: 25px solid #787196;

    border-left: 25px solid transparent;
    border-bottom: 28px solid transparent;

    border-radius: 50%;
    transform: rotate(42deg);
}

.plate {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    background: linear-gradient(to right, #F0F8FFFF, #787196);
    border-radius: 50%;
    box-shadow: 0 35px 35px #202123;
}

.plate::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left, #F0F8FFFF, #787196);
}

.plate::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: radial-gradient(#202123 25%, transparent, transparent);
    border-radius: 50%;
}

.vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}

.vapour span {
    position: relative;
    bottom: 50px;
    display: block;

    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;

    opacity: 0;
    filter: blur(8px);

    animation-delay: calc(var(--my-css-var) * -0.5s);
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scaleX(5);
    }
    95%{
        opacity: 0;
    }
    100% {
        transform: translateY(-300px) scaleX(10);
    }
}
